<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Some Web Site</title>
</head>
<body>
	{{> header}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur impedit quidem iusto ex rerum nulla suscipit odit illo accusamus, dignissimos. Eum, eius! Architecto a, doloribus possimus! Aliquam doloremque, impedit obcaecati!</p>
	
	{{> footer}}
</body>
</html>